.mainDiv {
  margin: 20px 50px;
  justify-content: space-evenly;

}

.fade {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .contactP {
    /* color: white !important; */
  }
  .mainDiv {
    height: 400px;
  }
}
