.topClick {
  display: none;
}

.displayCards {
  display: grid;

  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  /* grid-template-areas:
    "row1"
    "row2"; */
  /* grid-template-rows: repeat(minmax(50px, 1fr)); */
  grid-gap: 5px;
  transition: 250ms;
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
}

.googleBooks {
  background-image: url("https://i.imgur.com/dhz1omK.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 24px;

  transition-duration: 167ms;
  text-align: center;
  margin: 30px 20px;
  opacity: 0.8;
  font-size: small;
}

.jpwFinder {
  background-image: url("https://i.imgur.com/inj0tje.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 24px;

  transition-duration: 167ms;
  text-align: center;
  margin: 30px 20px;
  opacity: 0.8;
  font-size: small;
}

.beaverFrames {
  background-image: url("https://i.imgur.com/oqtTsFF.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: inset 0 0 0 1px black;
  border-radius: 24px;

  transition-duration: 167ms;
  text-align: center;
  margin: 30px 20px;
  opacity: 0.8;
  font-size: small;
}

.googleBooks:hover {
  background-image: none;
  background-color: #c1d3eb;
}
.jpwFinder:hover {
  background-image: none;
  background-color: #c1d3eb;
}
.beaverFrames:hover {
  background-image: none;
  background-color: #c1d3eb;
}

.googleData {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.jpwData {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.beaverData {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.googleData:hover {
  opacity: 1;
}

.jpwData:hover {
  opacity: 1;
}

.beaverData:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .contactP {
    color: white !important;
  }
  .topClick {
    display: flex;
    margin-top: 20px;
  }
  .topClick h3 {
    font-weight: 200;
  }
}
